@model IEnumerable<cafeteria_joy.Models.Tiposusuario>

@{
    ViewData["Title"] = "Index";
}

<div class="container w-75 p-3">
    <div class="row pt-4">
        <div class="col-6 d-flex align-items-center">
            <i class="bi bi-person-arms-up h2" style="color: #1558a0;"></i>
            <i class="bi bi-person-standing h2" style="color: #1558a0;"></i>
            <i class="bi bi-person-raised-hand h2" style="color: #1558a0;"></i>
            <h2 class="ms-3">Tipo de Usuario</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-primary" asp-action="Create">
                <i class="bi bi-plus-circle h5"></i>
                &nbsp;
                New
            </a>
        </div>
    </div>
    <div class="card p-4">
        <table class="table datatable">
            <thead class="table-dark">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="height: 60px">
                        <td style="width: 40%;" class="align-middle">
                            <a asp-action="Edit" asp-route-id="@item.TipoUsuarioId">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </a>
                        </td>
                        <td style="width: 40%;" class="align-middle text-center">
                            @if (item.Estado)
                            {
                                <i class="bi bi-check-square-fill text-success h3"></i>
                            }
                            else
                            {
                                <i class="bi bi-x-square-fill text-danger h3"></i>
                            }
                        </td>
                        <td style="width: 10%;" class="align-middle text-end">
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TipoUsuarioId">
                                <i class="bi bi-trash3 h5"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
