@model cafeteria_joy.Models.Facturacionarticulo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Facturacion Artículo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FacturacionArticulosId" />
            <div class="form-group">
                <label asp-for="NoFactura" class="control-label"></label>
                <input asp-for="NoFactura" class="form-control" />
                <span asp-validation-for="NoFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado" class="control-label"></label>
                <select asp-for="Empleado" class="form-control" asp-items="ViewBag.Empleado"></select>
                <span asp-validation-for="Empleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVenta" class="control-label"></label>
                <input asp-for="FechaVenta" class="form-control" />
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
